<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid"> 
       <i class="mx-3 fa-solid fa-cart-shopping cart-icon"></i>

      <a class="navbar-brand name" routerLink="home">SwiftCart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li *ngIf="isLogin" class="nav-item">
            <a class="nav-link" routerLink="home">Home</a>
          </li>
          <li *ngIf="isLogin" class="nav-item">
            <a class="nav-link" routerLink="cart">Cart</a>
          </li>
          <li *ngIf="isLogin" class="nav-item">
            <a class="nav-link" routerLink="products">Products</a>
          </li>
          <li *ngIf="isLogin" class="nav-item">
            <a class="nav-link" routerLink="categories">Categories</a>
          </li>
          <li *ngIf="isLogin" class="nav-item">
            <a class="nav-link" routerLink="brands">Brands</a>
          </li>
        </ul>

        
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
            <li class="nav-item "><i class="fab mx-2 fa-instagram"></i></li>
            <li class="nav-item "><i class="fab mx-2 fa-facebook"></i></li>
            <li class="nav-item "><i class="fab mx-2 fa-tiktok"></i></li>
            <li class="nav-item "><i class="fab mx-2 fa-twitter"></i></li>
            <li class="nav-item "><i class="fab mx-2 fa-linkedin"></i></li>
            <li class="nav-item "><i class="fab mx-2 fa-youtube"></i></li>

            <li *ngIf="!isLogin" class="nav-item">
              <a class="nav-link" routerLink="login">Login</a>
            </li>
            <li *ngIf="!isLogin" class="nav-item">
              <a class="nav-link" routerLink="register">Register</a>
            </li>
            <li *ngIf="isLogin" class="nav-item">
              <a class="nav-link cursor-pointer" (click)="logout()">Logout</a>
            </li>
          </ul>
       
      </div>
    </div>
  </nav>