<div class="row gx-0 py-4 ">
    <div class="col-md">
    <owl-carousel-o [options]="customOptions">
      <ng-container >
        <ng-template carouselSlide><img height="400"  src="../../../assets/images/A D E R.jpeg" alt=""></ng-template>  


        <ng-template carouselSlide><img height="400" src="../../../assets/images/f8ac8452-6ee9-4d24-ae93-8ef0e6397125.jpeg" alt=""></ng-template>  
        <ng-template carouselSlide><img height="400"  src="../../../assets/images/BAGGU.jpeg" alt=""></ng-template>  

        <ng-template carouselSlide><img height="400" src="../../../assets/images/Vivo - Live Food.jpeg" alt=""></ng-template>  

          <ng-template carouselSlide><img height="400"  src="../../../assets/images/1a6a3e50-c43c-4be1-8e0e-3f5597d0e893.jpeg" alt=""></ng-template>  

        <ng-template carouselSlide><img height="400" src="../../../assets/images/cafaa274-e06b-4448-95f4-0ecd97c80a95.jpeg" alt=""></ng-template>  
        <ng-template carouselSlide><img height="400" src="../../../assets/images/Creative Product Photography with set styling by Florence James Collective.jpeg" alt=""></ng-template>  
        <ng-template carouselSlide><img height="400" src="../../../assets/images/Summer Time.jpeg" alt=""></ng-template>  


       

      </ng-container>
  
    </owl-carousel-o>
    </div>


    <!-- <div class="col-md-4">
        <img height="200" src="../../../assets/images/Lemon ice tea on concrete gray backg stock photo containing tea and ice.jpeg" alt="">
        <img  height="400" src="../../../assets/images/Drink and  Beverage Photography — Teri Lyn Fisher _ Los Angeles Food Photographer (1).jpeg" alt="">

    </div> -->

</div>



<!-- <div>Some tags before</div>
  <owl-carousel-o [options]="customOptions">

    <ng-container >
      <ng-template carouselSlide =>
        <ng-template carouselSlide><img src="../../../assets/images/download (2).jpeg" alt=""></ng-template>  
        <ng-template carouselSlide><img src="../../../assets/images/download (2).jpeg" alt=""></ng-template>  
          <ng-template carouselSlide><img src="../../../assets/images/Premium AI Image _ white background food photography.jpeg" alt=""></ng-template>  

    </ng-template>
    </ng-container>

  </owl-carousel-o>
  <div>Some tags after</div> -->