<div class="row gx-0 py-4 ">
    <div class="col-md">
    <owl-carousel-o [options]="customOptions">
      <ng-container >
          
          <ng-template carouselSlide><img src="../../../assets/images/_Whiskey Sour Cocktail_ by Stocksy Contributor _CWP, LLC_.jpeg" alt=""></ng-template>  
          <ng-template carouselSlide><img  src="../../../assets/images/Drink and  Beverage Photography — Teri Lyn Fisher _ Los Angeles Food Photographer (1).jpeg" alt=""></ng-template>  
          <ng-template carouselSlide><img src="../../../assets/images/Iced tea summer photo.jpeg" alt=""></ng-template>  
          <ng-template carouselSlide><img src="../../../assets/images/Lemon ice tea on concrete gray backg stock photo containing tea and ice.jpeg" alt=""></ng-template>  
          <ng-template carouselSlide><img src="../../../assets/images/Szklanka świeżej Długiej Wyspy Koktajlowej Studio Koktajli Mrożonej Strzał Na Czarnym Tle _ Zdjęcie Premium.jpeg" alt=""></ng-template>  
          <ng-template carouselSlide><img src="../../../assets/images/39 Drink Photography Tips.jpeg" alt=""></ng-template>  

      </ng-container>
  
    </owl-carousel-o>
    </div>


    <!-- <div class="col-md-4">
        <img height="200" src="../../../assets/images/Lemon ice tea on concrete gray backg stock photo containing tea and ice.jpeg" alt="">
        <img  height="400" src="../../../assets/images/Drink and  Beverage Photography — Teri Lyn Fisher _ Los Angeles Food Photographer (1).jpeg" alt="">

    </div> -->

</div>



<!-- <div>Some tags before</div>
  <owl-carousel-o [options]="customOptions">

    <ng-container >
      <ng-template carouselSlide =>
        <ng-template carouselSlide><img src="../../../assets/images/download (2).jpeg" alt=""></ng-template>  
        <ng-template carouselSlide><img src="../../../assets/images/download (2).jpeg" alt=""></ng-template>  
          <ng-template carouselSlide><img src="../../../assets/images/Premium AI Image _ white background food photography.jpeg" alt=""></ng-template>  

    </ng-template>
    </ng-container>

  </owl-carousel-o>
  <div>Some tags after</div> -->