<div class="w-75 mx-auto py-4">
    <h4>Login </h4>
    <div *ngIf="apiError" class="alert alert-danger">
        <p>{{apiError}}</p>
    </div>
    <form (ngSubmit)="submitLoginForm(loginForm)" [formGroup]="loginForm">
       
        <label for="email">Email</label>
        <input formControlName="email" type="email" class="form-control mb-2" id="email">
        <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert  alert-danger">
            <p *ngIf="loginForm.get('email')?.getError('required')" class="m-0">email is required</p>
            <p *ngIf="loginForm.get('email')?.getError('email')" class="m-0">Email is invalid</p>
        </div>

        <label for="password">Password</label>
        <input formControlName="password" type="password" class="form-control mb-2" id="password">
        <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert  alert-danger">
            <p *ngIf="loginForm.get('password')?.getError('required')" class="m-0">Password is required</p>
            <p *ngIf="loginForm.get('password')?.getError('password')" class="m-0">Password is invalid</p>
        </div>
       
        <button  [disabled]="loginForm.invalid" class="btn button" type="submit">
          <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
          <span *ngIf="!isLoading">Submit</span>
        </button>
    </form>

</div>